@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
}

.a {
    border: white solid 3px;

}
#username {
    margin-bottom: 3rem;
    width: 100%;
    box-shadow: none;
}

#end-text {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

#saveScoreBtn {
    border: white solid 3px;
}

