body {
    color: white;
    font-size: 50%;
}

.choice-container {
    display: flex;
    margin-bottom: .5rem;
    width: 100%;
    background:rgb(83, 219, 219);
    color: rgb(0, 0, 0);
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 5px black;
    transform: scale(1.02);
    transform: 100ms;
}

.choice-prefix {
    padding: 2rem;
    font-size: 2rem;
}

.choice-text {
    padding: 2rem;
    width: 100%;
    font-size: 2rem;
}


#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
    color: purple;
}

.hud-main-text {
    text-align: center;
}

#progessBar {
    width: 20rem;
    height: 3rem;
    border: 2rem solid greenyellow;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 50px;
    background: red;
    width: 120px;
}

@media screen and (max-width: 768px) {
    .choice-container{
        min-width: 40rem;
    }
}

